######## 环境与服务 ########
# env
ENV=dev

# auth
AUTH_SECRET_KEY=123abc
AUTH_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=60
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=30
AUTH_IS_DEBUG=True
AUTH_DEBUG_CODE=888888

# api
API_NAME=raif-api
API_VERSION=0.1
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=True

######## 存储 ########
# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=remove-ai-flavor

# db settings
POSTGRES_ECHO=False
POSTGRES_POOL_SIZE=20
POSTGRES_MAX_OVERFLOW=30
POSTGRES_POOL_TIMEOUT=30
POSTGRES_POOL_RECYCLE=3600
POSTGRES_POOL_PRE_PING=True

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=123456
REDIS_DB=0

######## 通知 ########
# send mail (SMTP/RESEND)
MAIL_SEND_METHOD=SMTP

# smtp (大多数云厂商可能会封禁)
MAIL_USERNAME=no-reply@example.com
MAIL_PASSWORD=123456
MAIL_FROM=no-reply@example.com
MAIL_PORT=587
MAIL_SERVER=smtp.example.com

# resend
RESEND_API_KEY=re_1234
RESEND_MAIL_FROM=onboarding@resend.dev

######## 大模型与 Agent ########
# agent 配置
AGENT_SOURCE=llm
AGENT_API_KEY=sk-proj-***
AGENT_BASE_URL=https://api.openai.ai/v1/chat/completions
AGENT_MODEL_NAME=gpt-4.1-mini
AGENT_MODEL_TEMPERATURE=0.7

######## 会员与支付 ########
# stripe pay
STRIPE_PUBLIC_KEY=pk_test_xxx
STRIPE_PRIVATE_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_cexxx

# membership plan
MEMBERSHIP_FREE_NAME=免费会员
MEMBERSHIP_FREE_DAILY_MESSAGE_LIMIT=100
MEMBERSHIP_FREE_DAILY_TOKEN_LIMIT=1000000
MEMBERSHIP_FREE_CONVERSATION_TURN_LIMIT=10
MEMBERSHIP_FREE_PRICE=0.0
MEMBERSHIP_FREE_CURRENCY=USD
MEMBERSHIP_FREE_DURATION_DAYS=36500
MEMBERSHIP_FREE_DESCRIPTION=免费用户基础计划

# membership plan
MEMBERSHIP_MONTHLY_NAME=月度会员
MEMBERSHIP_MONTHLY_DAILY_MESSAGE_LIMIT=800
MEMBERSHIP_MONTHLY_DAILY_TOKEN_LIMIT=8000000
MEMBERSHIP_MONTHLY_CONVERSATION_TURN_LIMIT=30
MEMBERSHIP_MONTHLY_PRICE=9.9
MEMBERSHIP_MONTHLY_CURRENCY=USD
MEMBERSHIP_MONTHLY_DURATION_DAYS=30
MEMBERSHIP_MONTHLY_DESCRIPTION=月度付费会员计划

# membership plan
MEMBERSHIP_YEARLY_NAME=年度会员
MEMBERSHIP_YEARLY_DAILY_MESSAGE_LIMIT=1000
MEMBERSHIP_YEARLY_DAILY_TOKEN_LIMIT=10000000
MEMBERSHIP_YEARLY_CONVERSATION_TURN_LIMIT=50
MEMBERSHIP_YEARLY_PRICE=99.9
MEMBERSHIP_YEARLY_CURRENCY=USD
MEMBERSHIP_YEARLY_DURATION_DAYS=365
MEMBERSHIP_YEARLY_DESCRIPTION=年度付费会员计划
